body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #272343;
}

.main-board{
  display: flex;
  flex-wrap: wrap;
  background-color: #e3f6f5;
  width: 21rem;
  height: 21rem;
  border: solid #272343 2px;
}
.board-square{
  border: solid #272343 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  box-sizing: border-box;
}

.circle{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: solid #f70776 5px;
  box-sizing: border-box;
}

.cross{
  width: 5rem;
  height: 5rem;
  position: relative;
  transform: rotate(45deg);
}
.cross::before, .cross::after {
  content: "";
  position: absolute;
  background-color: #f70776;
}
.cross::before{
  left: 50%;
  width: 20%;
  margin-left: -10%;
  height: 100%;
}
.cross::after{
  top: 50%;
  height: 20%;
  margin-top: -10%;
  width: 100%;
}
.game-info{
  border-radius: 10px;
  border: solid #e3f6f5 2px; 
  padding: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.reset-button{
  background-color: #bae8e8;
  border: solid 2px #bae8e8;
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;

}
.reset-button:hover{
  background-color: #ebffff;
  border: solid 2px #bae8e8;
  box-sizing: border-box;
}